doctype html
html
	head
		title Home - Spread the Love SF
		link(type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection")
		link(type="text/css" rel="stylesheet" href="static/css/style.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet")
	body
		.header.valign-wrapper
			.div.row.valign.headercontent
				h1.col.s12.center.spreadthelove Spread the Love
				h3.col.s12.center.sf San Francisco

		.nav-extended
			if user.type != 'none'
				a.btn.right.blue-grey(href="/logout") Log Out
			else
				a.btn.right.blue-grey(href="#register") Become a Member
				#register.modal.center
					.extended-nav.center.grey.darken-4
						strong Registration
					.divider
					nav
						.col.s12.grey.darken-3
							a.breadcrumb.whoareyou Who are you?
							a.breadcrumb.basicinfo.hide-on-small-only Basic Information
							a.breadcrumb.finish.hide-on-small-only Finish
					.modal-content
						.container#whoareyou I am an:
							form#iaman
								p.left
									input.with-gap#individual(type="radio" name="whoareyou" value="individual")
									label(for="individual") Individual
								p.left
									input.with-gap#organization(type="radio" name="whoareyou" value="organization")
									label(for="organization") Organization
								button.blue-grey.btn-large.waves-effect.waves-light.center(type="submit") NEXT

						form#basicinfo1.col.s12
							.row
								.input-field.col.s6
									input.validate.firstname(name="firstname" type="text" required="" autocomplete="off" placeholder="First Name")
								.input-field.col.s6
									input.validate.lastname(name="lastname" type="text" required="" autocomplete="off" placeholder="Last Name")
							.row
								.input-field.col.s12
									input.validate.email(name="email" type="email" required="" autocomplete="off" placeholder="Email")
							.row
								.input-field.col.s12
									input.validate.password(name="password" type="password" required="" autocomplete="off" placeholder="Password")
							button.blue-grey.btn-large.waves-effect.waves-light.center(type="submit") SUBMIT

						form#basicinfo2.col.s12
							.row
								.input-field.col.s6
									input.validate.orgname(name="orgname" type="text" required="" autocomplete="off" placeholder="Name of organization")
								.input-field.col.s6
									select.category
										option(value="" disabled selected) Which best describes your organization?
										option.type1(value="collective") Collective
										option.type2(value="nonprofit") Non-profit
							.row
								.input-field.col.s12
									input.validate.orgemail(name="orgemail" type="email" required="" autocomplete="off" placeholder="Email")
							.row
								.input-field.col.s12
									input.validate.orgpassword(name="orgpassword" type="password" required="" autocomplete="off" placeholder="Password")
							button.blue-grey.btn-large.waves-effect.waves-light.center(type="submit") SUBMIT
						form#finish.col.s12(method="GET")
							.row
								p.center.congrats Congratulations! Your account has been made. 
									.overview.col.s12.offset-l2.offset-m2
										span Name: 
										span Email: 
										span Organization: 
										span Type: 
										span Email: 
								button.blue-grey.btn.waves-effect.waves-light.center(type="submit") Start spreading the love!
			if user.type == 'individual'
				ul#slide-out.side-nav
					li.userView.center
						.background
							img(src='')
						//- form#changeprofilepic(method="POST" action="/newprofilepic")
						//- 	.thefilefield
						//- 		.file-field.input-field.center(hidden)
						//- 			a(href="#!") Change Profile Picture
						//- 			input(type="file")
						//- 	.profilepic
						//- 		if user.profilepic
						//- 			img.circle(src=user.profilepic)
						//- 		else
						//- 			p.center
						//- 				i.fa.fa-user-circle.fa-4x
							button.btn-flat.waves-effect(type="submit") Save
							.file-path-wrapper(hidden)
								input.file-path.validate(type="text")
						p.center
							i.fa.fa-user-circle.fa-4x
						a(href='#!') #{user.firstname} #{user.lastname}
						a(href='#!') #{user.email}
					li.divider
					li
						a.subheader.center(href="#!") Odd Jobs Offered
							.divider
					li
						each oddjob in oddjobs
							if oddjob.individualId == user.id
								.col.s12
									.card.z-depth-4
										//- .card-image.waves-effect.waves-block.waves-light
										//- 	img.activator(src=oddjob.individual.profilepic)
										.card-content
											.card-title.activator #{oddjob.jobtitle}
												i.material-icons.right more_vert
												p.truncate #{oddjob.jobdescription}
										.card-action
											p.center #{oddjob.individual.firstname} #{oddjob.individual.lastname}
										.card-reveal
											.card-title #{oddjob.jobtitle}
												i.material-icons close
											p #{oddjob.jobdescription}
											p.contact Contact: #{user.email}
				a#indprofile.profile.btn.button-collapse.blue-grey(href="#" data-activates="slide-out") Profile
					i.material-icons.left menu
				//- .tap-target(data-activates="indprofile")
				//- 	i.fa.fa-angle-double-left.right(aria-hidden="true")
				//- 	.container
				//- 		strong Click to view your new profile!
				//- 		ul
				//- 			li -Here you can show all of your odd job postings
			else if user.type == 'collective'
				ul#slide-out.side-nav
					li.userView
						.background
							img(src='/static/css/images/placeholderimg.jpg')
							//- if user.profilepic
							//- 	img.circle(src=user.profilepic)
							//- else
							//- 	p
							//- 		i.fa.fa-user-circle.fa-4x
						p.center
							i.fa.fa-user-circle.fa-4x
							//- form#changeprofilepic(method="POST" action="/newprofilepic")
							//- 	.file-field.input-field.changepic
							//- 		.btn.blue-grey.right
							//- 			span Change Profile Picture
							//- 			input#changepic(type="file")
							//- 		.file-path-wrapper
							//- 			input.file-path.validate(type="text")
						a(href='#!') #{user.name}
						a(href='#!') #{user.email}
					li.divider
					li
						a.subheader.center(href="#!") Volunteer Jobs offered
							.divider
					li
						each collectivejob in collectivejobs
							if collectivejob.collectiveId == user.id
								.col.s12
								.card.z-depth-4
									//- .card-image.waves-effect.waves-block.waves-light
									//- 	img.activator(src=collectivejob.collective.profilepic)
									.card-content
										.card-title.activator #{collectivejob.jobtitle}
											i.material-icons.right more_vert
											p.truncate #{collectivejob.jobdescription}
									.card-action
										p.center #{collectivejob.collective.name}
									.card-reveal
										.card-title #{collectivejob.jobtitle}
											i.material-icons close
										p #{collectivejob.jobdescription}
										p.contact Contact: #{user.email}
							
				a#collectiveprofile.profile.btn.button-collapse.blue-grey(href="#" data-activates="slide-out") Profile
					i.material-icons.left menu
				//- .tap-target(data-activates="collectiveprofile")
				//- 	.tap-target-content
				//- 		strong Click to view your new profile!
				//- 			ul
				//- 				li -Here you can show all of the volunteer opportunites for your collective
			else if user.type == 'nonprofit'
				ul#slide-out.side-nav
					li.userView
						.background
							img(src='/static/css/images/placeholderimg.jpg')
							//- .profilepic
							//- 	if user.profilepic
							//- 		img.circle(src=user.profilepic)
							//- 	else
							//- 		p
							//- 			i.fa.fa-user-circle.fa-4x
						p.center
							i.fa.fa-user-circle.fa-4x
							//- form#changeprofilepic(method="POST" action="/newprofilepic")
							//- 	.file-field.input-field.changepic
							//- 				.btn.blue-grey.right(hidden)
							//- 					span Change Profile Picture
							//- 					input#changepic(type="file")
							//- 				.file-path-wrapper
							//- 					input.file-path.validate(type="text")
						a(href='#!') #{user.name}
						a(href='#!') #{user.email}
					li.divider
					li
						a.subheader.center(href="#!") Volunteer Jobs offered
							.divider
					li
						each nonprofitjob in nonprofitjobs
							if nonprofitjob.nonprofitId == user.id
								.col.s12
								.card.z-depth-4
									//- .card-image.waves-effect.waves-block.waves-light
									//- 	img.activator(src=nonprofitjob.nonprofit.profilepic)
									.card-content
										.card-title.activator #{nonprofitjob.jobtitle}
											i.material-icons.right more_vert
											p.truncate #{nonprofitjob.jobdescription}
									.card-action
										p.center #{nonprofitjob.nonprofit.name}
									.card-reveal
										.card-title #{nonprofitjob.jobtitle}
											i.material-icons close
										p #{nonprofitjob.jobdescription}
										p.contact Contact: #{user.email}
				a#nonprofitprofile.profile.btn.button-collapse.blue-grey(href="#" data-activates="slide-out") Profile
					i.material-icons.left menu
				//- .tap-target(data-activates="nonprofitprofile")
				//- 	.tap-target-content
				//- 		strong Click to view your new profile!
				//- 			ul
				//- 				li -Here you can show all of the volunteer opportunites for your non-profit organization
			else
				a.btn.left.blue-grey(href="#login") Log-In
				#login.modal
					.extended-nav.center.grey.darken-4
						strong Log-In
					.container
						form.col.s12.center(method="POST" action="/login")
							.row
								.input-field.col.s12
									input.validate.enteremail(name="enteremail" type="email" required="" autocomplete="off" placeholder="Email")
							.row
								.input-field.col.s12
									input.validate.enterpassword(name="enterpassword" type="password" required="" autocomplete="off" placeholder="Password")
							.row
								button.center.blue-grey.btn-large.waves-effect.waves-light(type="submit") SUBMIT
		.nav-content.center
			ul.tabs.tabs-transparent
				li.tab
					a(href="#home") Home
				li.tab
					a(href="#oddjobs") Odd Jobs
				li.tab
					a(href="#collectives") Collectives
				li.tab
					a(href="#nonprofit") Non-Profit Oranizations
				li.tab
					a(href="#initiatives") Initiatives
		div#socialwrap
			.socialmedia.hide-on-small-only
					a(href="#")
						i.fa.fa-facebook-square.fa-5x(aria-hidden="true")
					a(href="#")
						i.fa.fa-twitter-square.fa-5x(aria-hidden="true")
					a(href="#")
						i.fa.fa-instagram.fa-5x(aria-hidden="true")
					a(href="#")
						i.fa.fa-envelope-square.fa-5x(aria-hidden="true")
		
		#home
			#scrollspy.col.hide-on-med-and-down.m3.l2.right
				ul.section.table-of-contents
					l(hidden)
						a(href="#slides" hidden)
					li
						a(href="#about") About us
					.divider.black
					li
						a(href="#recent") How to help
					.divider.black
					li
						a(href="#youcanmakeadifference") Be the Change

			.container
				.container#slides.section.scrollspy
					.slider
						ul.slides.z-depth-4
							li
								img(src='/static/css/images/sliderimg4.jpg')
								.caption.center-align
							li
								img(src='/static/css/images/sliderimg2.jpg')
							li
								img(src='/static/css/images/sliderimg5.png')
							li
								img(src='/static/css/images/sliderimg6.jpg')
							li
								img(src='/static/css/images/sliderimg1.jpg')
				#about.flow-text.section.scrollspy
					strong Spread the Love San Francisco 
					span is all about helping out others in need. It is a community marketplace not based on money, but kindness and gratitude. We believe a gift-based economy provides the most abundance and brings out the best in humanity by accentuating qualities of compassion and empathy rather than greed and lust. We dream of a day where everyone in our society races to lend each other a helping hand instead of stepping over each other to attain what we've been told makes the world go 'round. True, money can get you a lot in this world, but let's put that song by The Beatles to the test and prove that 
					strong  all we need is love.

				#recent.section.scrollspy
					.takealook Take a look at some of the opportunities you have to help.
					.row.center
						.col.s12.m12.l4 
							i.fa.fa-handshake-o.fa-5x(aria-hidden="true")
							h4 Pick up odd jobs
							span Lend a helping hand to a neighbor in need! Our community is only as strong as the bonds between us. 
						.col.s12.m12.l4
							i.fa.fa-group.fa-5x(aria-hidden="true")
							h4 Volunteer for a Collective/Non-Profit Organization
							span These groups could always use some help, and more often then not you will learn something new!
						.col.s12.m12.l4
							i.fa.fa-hand-rock-o.fa-5x(aria-hidden="true")
							h4 Join an initiative
							span Together we can accomplish incredible things. Strength in numbers!


				#youcanmakeadifference.section.scrollspy
					.center You can make a difference.
					span Every good deed, every hour volunteered, and every successful initiative brings us one step closer to a better tomorrow. Together we can change the world and how it operates. United we can stand up against a system that enslaves us and impoverishes us and implement one that frees us and enriches our lives. Helping others feels great, and so does being helped. Find that part of you that wishes to serve the common good, 
					a(href="#register") become a member 
					span today and start being the change you wish to see.



		#oddjobs
			.container.oddjobs
				if user.type == 'individual'
						.row
							.col.s12.m6.l6.hide-on-small-only
								.card.z-depth-4
									//- .card-image.waves-effect.waves-block.waves-light
									//- 	img.activator(src=user.profilepic)
									.card-content
										.card-title.activator.ojtitle Job Title
											i.material-icons.right more_vert
										p.truncate.ojdescription Job Description
									.card-action
											p.center.author By: #{user.firstname} #{user.lastname}
									.card-reveal
										.card-title.ojtitle Job Title
											i.material-icons close
										p.ojdescription Job Description
											p.contact Contact: #{user.email}
							.col.s12.m6.l6
								form#postoddjob.card.center.z-depth-4(action="/newoddjob" method="POST")
									//- .card-image.waves-effect.waves-block.waves-light
									//- 	img(src=user.profilepic)
										.file-field.input-field.changepic
											.btn.blue-grey.right
												span Change picture
												input#changepic(type="file" value=individual.profilepic)
											.file-path-wrapper
												input.file-path.validate(type="text")
									.card-content
										.input-field
											input#ojtitle.validate(name="jobtitle" type="text")
											label(for="ojtitle") Job Title
										.input-field
											input#ojdescription.validate(name="jobdescription" type="text")
											label(for="ojdescription") Job Description
									.card-action
										button.btn-large.blue-grey.hoverable(type="submit") Submit
				.row
					each oddjob in oddjobs
						.col.s12.m10.l10.offset-m1.offset-l1
							.card.horizontal.z-depth-4
								a.card-image.waves-effect.waves-block.waves-light.z-depth-4
									img(src=oddjob.individual.profilepic)
								.card-content
									.card-title.activator #{oddjob.jobtitle}
										i.material-icons.right more_vert
									p #{oddjob.jobdescription}
								.card-action
									p.center #{oddjob.individual.firstname} #{oddjob.individual.lastname}
								.card-reveal
									.card-title #{oddjob.jobtitle}
										i.material-icons close
									p #{oddjob.jobdescription}
									.contact
										p Name: #{oddjob.individual.firstname} #{oddjob.individual.lastname}
										p Contact: #{oddjob.individual.email}
							.divider

		#collectives
			.container.collectives
				.row
					if user.type == 'collective'
						.col.s12.m6.l6.hide-on-small-only
							.card.z-depth-4
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img.activator(src=user.profilepic)
								.card-content
									.card-title.activator.cjtitle Job Title
										i.material-icons.right more_vert
									p.truncate.cjdescription Job Description
								.card-action
										p.center.author By: #{user.name}
								.card-reveal
									.card-title.cjtitle Job Title
										i.material-icons close
									p.cjdescription Job Description
										p.contact Contact: #{user.email}
						.col.s12.m6.l6
							form#postcollectivejob.card.center.z-depth-4(action="/newcollectivejob" method="POST")
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img(src=user.profilepic)
									.file-field.input-field.changepic
										.btn.blue-grey.right
											span Change picture
											input#changepic(type="file" value=individual.profilepic)
										.file-path-wrapper
											input.file-path.validate(type="text")
								.card-content
									.input-field
										input#cjtitle.validate(name="jobtitle" type="text")
										label(for="cjtitle") Job Title
									.input-field
										input#cjdescription.validate(name="jobdescription" type="text")
										label(for="cjdescription") Job Description
								.card-action
									button.btn-large.blue-grey.hoverable(type="submit") Submit
				.row
					each collectivejob in collectivejobs
						.col.s12.m10.l10.offset-m1.offset-l1
							.card.horizontal.z-depth-4
								.card-image.waves-effect.waves-block.waves-light.z-depth-4
									img(src=collectivejob.collective.profilepic)
								.card-content
									.card-title.activator #{collectivejob.jobtitle}
										i.material-icons.right more_vert
									p #{collectivejob.jobdescription}
								.card-action
									p.center #{collectivejob.collective.name}
								.card-reveal
									.card-title #{collectivejob.jobtitle}
										i.material-icons close
									p #{collectivejob.jobdescription}
									.contact
										p Name: #{collectivejob.collective.name}
										p Contact: #{collectivejob.collective.email}
							.divider

		#nonprofit
			.container.nonprofits
				.row
					if user.type == 'nonprofit'
						.col.s12.m6.l6.hide-on-small-only
							.card.z-depth-4
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img.activator(src=user.profilepic)
								.card-content
									.card-title.activator.npjtitle Job Title
										i.material-icons.right more_vert
									p.truncate.npjdescription Job Description
								.card-action
										p.center.author By: #{user.name}
								.card-reveal
									.card-title.npjtitle Job Title
										i.material-icons close
									p.npjdescription Job Description
										p.contact Contact: #{user.email}
						.col.s12.m6.l6
							form#postnonprofitjob.card.center.z-depth-4(method="POST" action="/newnonprofitjob")
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img(src=user.profilepic)
									.file-field.input-field.changepic
										.btn.blue-grey.right
											span Change picture
											input#changepic(type="file" value=individual.profilepic)
										.file-path-wrapper
											input.file-path.validate(type="text")
								.card-content
									.input-field
										input#npjtitle.validate(name="jobtitle" type="text")
										label(for="npjtitle") Job Title
									.input-field
										input#cjdescription.validate(name="jobdescription" type="text")
										label(for="npjdescription") Job Description
								.card-action
									button.btn-large.blue-grey.hoverable(type="submit") Submit
				.row
					each nonprofitjob in nonprofitjobs
						.col.s12.m10.l10.offset-m1.offset-l1
							.card.horizontal.z-depth-4
								.card-image.waves-effect.waves-block.waves-light.z-depth-4
									img(src=nonprofitjob.nonprofit.profilepic)
								.card-content
									.card-title.activator #{nonprofitjob.jobtitle}
										i.material-icons.right more_vert
									p #{nonprofitjob.jobdescription}
								.card-action
									p.center #{nonprofitjob.nonprofit.name}
								.card-reveal
									.card-title #{nonprofitjob.jobtitle}
										i.material-icons close
									p #{nonprofitjob.jobdescription}
									.contact
										p Name: #{nonprofitjob.nonprofit.name}
										p Contact: #{nonprofitjob.nonprofit.email}
							.divider

		#initiatives
			.container.initiatives
				.row
					if user.type != "none"
						.col.s12.m6.l6.hide-on-small-only
							.card.z-depth-4
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img.activator(src=user.profilepic)
								.card-content
									.card-title.activator.inittitle Name of Initiative
										i.material-icons.right more_vert
									p.truncate.initdescription Initiative Goals
								.card-action
									if user.type == 'individual'
										p.center.author By: #{user.firstname} #{user.lastname}
									if user.type == 'collective'
										p.center.author By: #{user.name}
									if user.type == 'nonprofit'
										p.center.author By: #{user.name}
								.card-reveal
									.card-title.inittitle Name of Initiative
										i.material-icons close
									p.initdescription Initiative Goals
										p.contact Contact: #{user.email}
						.col.s12.m6.l6
							form#postinitiative.card.center.z-depth-4(method="POST" action="/newinitiative")
								//- .card-image.waves-effect.waves-block.waves-light
								//- 	img(src=user.profilepic)
									.file-field.input-field.changepic
										.btn.blue-grey.right
											span Change picture
											input#changepic(type="file" value=individual.profilepic)
										.file-path-wrapper
											input.file-path.validate(type="text")
								.card-content
									.input-field
										input#inittitle.validate(name="initname" type="text")
										label(for="inittitle") Name of Initiative
									.input-field
										input#initdescription.validate(name="initgoal" type="text")
										label(for="initdescription") Initiative Goals
								.card-action
									button.btn-large.blue-grey.hoverable(type="submit") Submit
				.row
					each initiative in initiatives
						.col.s12.m10.l10.offset-m1.offset-l1
							.card.horizontal.z-depth-4
								.card-image.waves-effect.waves-block.waves-light.z-depth-4
									if initiative.individual
										img(src=initiative.individual.profilepic)
									if initiative.collective
										img(src=initiative.collective.profilepic)
									if initiative.nonprofit
										img(src=initiative.nonprofit.profilepic)
								.card-content
									.card-title.activator #{initiative.initname}
										i.material-icons.right more_vert
									p #{initiative.initgoal}
								.card-action
									if initiative.individual
										p.center #{initiative.individual.firstname} #{initiative.individual.lastname}
									if initiative.collective
										p.center #{initiative.collective.name}
									if initiative.nonprofit
										p.center #{initiative.nonprofit.name}
								.card-reveal
									.card-title #{initiative.initname}
										i.material-icons close
									p #{initiative.initgoal}
									.contact
										if initiative.individual
											p #{initiative.individual.firstname} #{initiative.individual.lastname}
										if initiative.collective
											p #{initiative.collective.name}
										if initiative.nonprofit
											p #{initiative.nonprofit.name}
										if initiative.individual
											p #{initiative.individual.email}
										if initiative.collective
											p #{initiative.collective.email}
										if initiative.nonprofit
											p #{initiative.nonprofit.email}
							.divider
						
		.page-footer.z-depth-4
			.container
				.row
					.col.l6.s12
						h5 Spread the love
						p Marketplace for Volunteer Work
					.col.l4.offset-l2.s12
						h5 Want to know how you can make change?
						ul
							li
								a Click here
							li
								a and here
							li
								a aaanndddd hereee
			.footer-copyright
				.container This isnt copyrighted but no ones looking here anyways...
					a.right Peace out

		script(type="text/javascript" src="static/js/jquery.min.js")
		script(type="text/javascript" src="static/js/materialize.min.js")
		script(type="text/javascript" src="static/js/custom.js")